cffi==1.9.1
click==6.6
cryptography==1.7.1
enum34==1.1.6
Flask==0.12
http==0.2
idna==2.2
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
ndg-httpsclient==0.4.2
numpy==1.11.3
pandas==0.19.2
pickle-warehouse==0.1.1
picklecache==0.0.5
pyasn1==0.1.9
pycparser==2.17
pyOpenSSL==16.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.4
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
Werkzeug==0.11.11
